/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply rounded px-4 bg-indigo-600  hover:bg-indigo-500 text-white py-1.5
  }
}