/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Lexend Deca, system-ui, sans-serif;
  }
}

@layer components {
  .btn-primary {
    @apply rounded px-4 bg-primary-color hover:bg-indigo-500 text-white py-1.5
  }
}
@layer components {
  .label-control {
    @apply block mb-1 text-sm font-medium text-gray-900
  }
}
@layer components {
  .form-control {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
  }
}